@font-face {
  font-family: "WeatherTime";
  src: url("../fonts/WeatherTime.eot"); /* IE9 Compat Modes */
  src: url("../fonts/WeatherTime.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/WeatherTime.otf") format("opentype"), /* Open Type Font */
  url("../fonts/WeatherTime.svg") format("svg"), /* Legacy iOS */
  url("../fonts/WeatherTime.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/WeatherTime.woff") format("woff"), /* Modern Browsers */
  url("../fonts/WeatherTime.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}